*{
    margin: 0;
    padding: 0;

}
#backgroundMove{
    background-image: url(./sprites/background.gif);
    width: 100%;
    position: absolute;
    height: 120%;
    z-index: -1;
    /* top: 10%; */
}
#canvas{
    margin-left: 100px;

    overflow: hidden;
    margin-top: 100px;
    width: 1400px;
    height: 600px;
    /* background-color:grey; */
    /* background-image: url(./sprites/background.gif); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    outline: 3px dashed rgb(255, 179, 0);
    outline-offset: -10px;
    outline-width: 10px;
    position: relative;
    /* border: 3px solid black; */
}
#player{
    top: 62%;
    left: 1%;
    position: absolute;
    width: 150px;
    height: 150px;
    /* background-color: blue; */
    border-radius: 50% 10% 10% 10%;
    
}
a{
    background-color: yellow;
    position: relative;
    font-size: 2rem;
    left: 20%;
    top: 60px;    
    margin-top: 20%;

  padding: 20px;
  /* background-color: ; */
}
h3{
    /* padding: 5px; */
    /* border: 2px solid black; */
    position: relative;
    font-size: 2rem;
    top: 5%;
    color: red;
    width: 50%;
    left: 30%;
}
.pause{
    animation-play-state: paused;
}
button{
    padding: 20px;
    position: relative;
    left: 30%;
    top: 30%;
    width: 200px;
    border-radius: 30%;
    height: 50px;
    background-color: rgb(216, 170, 0);
    color: greenyellow;

}
#position{
    width: 100px;
    background-color: grey;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;
    /* background-color: blue; */
}
#gameOver{
    /* background-color: grey; */
    border: 3px solid rgb(242, 174, 0);
    border-radius: 20%;
    width: 500px;
    position: relative;
    left: 30%;
    top: 10%;
    height: 200px;

}
#jump{
    position: relative;
    top: -200px;
    width: 600px;
    background-color: rgb(254, 165, 0);
    color: white;
    height: 100px;
    left: 500px;
    font-size: 2rem;
}
#enemy{
    top: 65%;
    left: 90%;
    position: absolute;
    width: 150px;
    height: 150px;
    /* background-color: red; */
    border-radius: 50% 50% 0 0;
}
#blood{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 350px;
    left: -5px;
    /* background-color: red; */
    z-index: 10;
}
.enemyAnim2{
animation: enemyA 1s infinite linear;

}
.enemyAnim{

animation: enemyA 2s infinite linear;

}
.jump{
    animation: playerA 1s infinite ease-out;

}
@keyframes playerA {
    0%{

    }
    45%{
        top:30%;
    }
    60%{
        top: 30%;
    }
    100%{
        top: 62%;
    }
    
}
@keyframes enemyA {
    0%{
        
    }
    33%{
        /* background-color: blue; */
    }
    66%{
        /* background-color: greenyellow; */
    }
    100%{
        /* background-color: brown; */
        left: 0;
    }
    
}
